<a href="https://colab.research.google.com/github/HyeonUk1504/JangbogoProject/blob/main/develop/2021_10_22_3%EC%A1%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
train_1=pd.read_csv("/content/drive/MyDrive/멀캠_딥러닝_장보고프로젝트/농산물_가격예측_AI 경진대회/public_data/total_train/TOTAL_AT_TSALET1.csv")
train_1

          Unnamed: 0  SALEDATE WHSAL_NM CMP_NM  ... QTY     COST TOT_QTY TOT_AMT
0                  0  20160210   전주도매시장   전주청과  ...  13  23000.0    65.0  299000
1                  1  20160210   전주도매시장   전주청과  ...   9  23000.0    45.0  207000
2                  2  20160210   전주도매시장   전주청과  ...  12  22000.0    60.0  264000
3                  3  20160210   전주도매시장   전주청과  ...  18  20000.0    90.0  360000
4                  4  20160210   전주도매시장   전주청과  ...  14  19000.0    70.0  266000
...              ...       ...      ...    ...  ...  ..      ...     ...     ...
13394941    13394941  20170130   서울강서도매   서부청과  ...  40   6000.0    40.0  240000
13394942    13394942  20170130   서울강서도매   서부청과  ...  10   3000.0    10.0   30000
13394943    13394943  20170130   서울강서도매   서부청과  ...  10   7000.0    10.0   70000
13394944    13394944  20170130   서울강서도매   서부청과  ...  10   4500.0    10.0   45000
13394945    13394945  20170130   서울강서도매   서부청과  ...  40   3500.0    40.0  140000

[13394946 rows x 16 columns]

In [ ]:
train_1. columns

Index(['Unnamed: 0', 'SALEDATE', 'WHSAL_NM', 'CMP_NM', 'PUM_NM', 'KIND_NM',
       'DAN_NM', 'POJ_NM', 'SIZE_NM', 'LV_NM', 'SAN_NM', 'DANQ', 'QTY', 'COST',
       'TOT_QTY', 'TOT_AMT'],
      dtype='object')

In [ ]:
train_1.drop(["Unnamed: 0"],axis=1, inplace=True)

In [ ]:
train_1

# SALEDATE: 경락 일자
# WHSAL_NM: 도매시장0
# CMP_NM: 법인 0
# PUM_NM: 품목
# KIND_NM: 품종
# DAN_NM: 단위
# POJ_NM: 포장 0
# SIZE_NM: 크기 0
# LV_NM: 등급 0
# SAN_NM: 산지
# DANQ: 단위중량 0
# QTY: 물량 0
# COST: 단가 0
# TOT_QTY: 총물량 (음수로 집계된 값은 거래 취소 내역)
# TOT_AMT: 총금액

          SALEDATE WHSAL_NM CMP_NM PUM_NM  ... QTY     COST TOT_QTY TOT_AMT
0         20160210   전주도매시장   전주청과     만감  ...  13  23000.0    65.0  299000
1         20160210   전주도매시장   전주청과     만감  ...   9  23000.0    45.0  207000
2         20160210   전주도매시장   전주청과     만감  ...  12  22000.0    60.0  264000
3         20160210   전주도매시장   전주청과     만감  ...  18  20000.0    90.0  360000
4         20160210   전주도매시장   전주청과     만감  ...  14  19000.0    70.0  266000
...            ...      ...    ...    ...  ...  ..      ...     ...     ...
13394941  20170130   서울강서도매   서부청과     딸기  ...  40   6000.0    40.0  240000
13394942  20170130   서울강서도매   서부청과     딸기  ...  10   3000.0    10.0   30000
13394943  20170130   서울강서도매   서부청과     딸기  ...  10   7000.0    10.0   70000
13394944  20170130   서울강서도매   서부청과     딸기  ...  10   4500.0    10.0   45000
13394945  20170130   서울강서도매   서부청과     딸기  ...  40   3500.0    40.0  140000

[13394946 rows x 15 columns]

In [ ]:
import pandas as pd
import pickle
import numpy as np

In [ ]:
train_1.drop(["WHSAL_NM","CMP_NM","POJ_NM","SIZE_NM","LV_NM","DANQ","QTY","COST",],axis=1, inplace=True)

In [ ]:
with open("/content/drive/MyDrive/멀캠_딥러닝_장보고프로젝트/농산물_가격예측_AI 경진대회/public_data/total_pickle/TOTAL_AT_TSALET1.pkl","rb") as fr:
    train_1 = pickle.load(fr)
print(train_1)

          SALEDATE WHSAL_NM CMP_NM PUM_NM  ... QTY     COST TOT_QTY TOT_AMT
0         20160210   전주도매시장   전주청과     만감  ...  13  23000.0    65.0  299000
1         20160210   전주도매시장   전주청과     만감  ...   9  23000.0    45.0  207000
2         20160210   전주도매시장   전주청과     만감  ...  12  22000.0    60.0  264000
3         20160210   전주도매시장   전주청과     만감  ...  18  20000.0    90.0  360000
4         20160210   전주도매시장   전주청과     만감  ...  14  19000.0    70.0  266000
...            ...      ...    ...    ...  ...  ..      ...     ...     ...
13394941  20170130   서울강서도매   서부청과     딸기  ...  40   6000.0    40.0  240000
13394942  20170130   서울강서도매   서부청과     딸기  ...  10   3000.0    10.0   30000
13394943  20170130   서울강서도매   서부청과     딸기  ...  10   7000.0    10.0   70000
13394944  20170130   서울강서도매   서부청과     딸기  ...  10   4500.0    10.0   45000
13394945  20170130   서울강서도매   서부청과     딸기  ...  40   3500.0    40.0  140000

[13394946 rows x 15 columns]

In [ ]:
train_1=pd.DataFrame(train_1)

In [ ]:
train_1.drop(["WHSAL_NM","CMP_NM","POJ_NM","SIZE_NM","LV_NM","DANQ","QTY","COST",],axis=1, inplace=True)

In [ ]:
train_1

          SALEDATE PUM_NM KIND_NM DAN_NM    SAN_NM  TOT_QTY  TOT_AMT
0         20160210     만감     한라봉     kg       NaN     65.0   299000
1         20160210     만감     한라봉     kg       NaN     45.0   207000
2         20160210     만감     한라봉     kg       NaN     60.0   264000
3         20160210     만감     한라봉     kg       NaN     90.0   360000
4         20160210     만감     한라봉     kg       NaN     70.0   266000
...            ...    ...     ...    ...       ...      ...      ...
13394941  20170130     딸기      장희     kg  경상남도 거창군     40.0   240000
13394942  20170130     딸기      장희     kg  경상남도 거창군     10.0    30000
13394943  20170130     딸기      장희     kg  경상남도 거창군     10.0    70000
13394944  20170130     딸기      장희     kg  경상남도 거창군     10.0    45000
13394945  20170130     딸기      장희     kg  경상남도 거창군     40.0   140000

[13394946 rows x 7 columns]

In [ ]:
with open("/content/drive/MyDrive/멀캠_딥러닝_장보고프로젝트/농산물_가격예측_AI 경진대회/public_data/total_pickle/TOTAL_AT_TSALET2.pkl","rb") as fr:
    train_2 = pickle.load(fr)
print(train_2)

          SALEDATE WHSAL_NM CMP_NM PUM_NM  ... QTY     COST TOT_QTY TOT_AMT
0         20160310   부산엄궁도매   부산청과    토마토  ...   4  26600.0    20.0  106400
1         20160310   부산엄궁도매   부산청과    토마토  ...   3  27500.0    15.0   82500
2         20160310   부산엄궁도매   부산청과  방울토마토  ...   2  14300.0     4.0   28600
3         20160310   부산엄궁도매   부산청과  방울토마토  ...  31  15200.0    62.0  471200
4         20160310   부산엄궁도매   부산청과  방울토마토  ...  20  12400.0    40.0  248000
...            ...      ...    ...    ...  ...  ..      ...     ...     ...
16358345  20170331   서울강서도매   강서청과     포도  ...  10  26000.0    90.0  260000
16358346  20170331   서울강서도매   강서청과     포도  ...  10  26000.0    90.0  260000
16358347  20170331   서울강서도매   강서청과     포도  ...  10  26000.0    90.0  260000
16358348  20170331   서울강서도매   강서청과     포도  ...  10  26000.0    90.0  260000
16358349  20170331   서울강서도매   강서청과     포도  ...  10  26000.0    90.0  260000

[16358350 rows x 15 columns]

In [ ]:
train_2=pd.DataFrame(train_2)

In [ ]:
train_2.drop(["WHSAL_NM","CMP_NM","POJ_NM","SIZE_NM","LV_NM","DANQ","QTY","COST",],axis=1, inplace=True)

In [ ]:
with open("/content/drive/MyDrive/멀캠_딥러닝_장보고프로젝트/농산물_가격예측_AI 경진대회/public_data/total_pickle/TOTAL_AT_TSALET3.pkl","rb") as fr:
    train_3 = pickle.load(fr)
print(train_3)

          SALEDATE WHSAL_NM CMP_NM  ...     COST TOT_QTY TOT_AMT
0         20160510   인천삼산도매   부평농산  ...  10000.0   104.0  130000
1         20160510   인천삼산도매   부평농산  ...   1700.0    72.0   30600
2         20160510   인천삼산도매   부평농산  ...   2000.0     4.0    2000
3         20160510   인천삼산도매   부평농산  ...   1330.0    50.0  133000
4         20160510   인천삼산도매   부평농산  ...   2500.0   120.0   75000
...            ...      ...    ...  ...      ...     ...     ...
18428766  20160831   서울강서도매   강서청과  ...  18000.0    15.0   18000
18428767  20160831   서울강서도매   강서청과  ...  17000.0   105.0  119000
18428768  20160831   서울강서도매   강서청과  ...  13000.0   285.0  247000
18428769  20160831   서울강서도매   강서청과  ...  11000.0   150.0  110000
18428770  20160831   서울강서도매   강서청과  ...   8500.0   210.0  119000

[18428771 rows x 15 columns]

In [ ]:
train_3=pd.DataFrame(train_3)

In [ ]:
train_3.drop(["WHSAL_NM","CMP_NM","POJ_NM","SIZE_NM","LV_NM","DANQ","QTY","COST",],axis=1, inplace=True)

In [ ]:
train_3

          SALEDATE        PUM_NM   KIND_NM DAN_NM   SAN_NM  TOT_QTY  TOT_AMT
0         20160510  브로코리(녹색꽃양배추)  브로코리(일반)     kg  제주 북제주군    104.0   130000
1         20160510         얼갈이배추     얼갈이배추     kg    인천 서구     72.0    30600
2         20160510            열무    열무(일반)     kg    인천 서구      4.0     2000
3         20160510            아욱    아욱(일반)     kg   경기 김포시     50.0   133000
4         20160510            열무    열무(일반)     kg   인천 계양구    120.0    75000
...            ...           ...       ...    ...      ...      ...      ...
18428766  20160831             배        원황     kg   경기 평택시     15.0    18000
18428767  20160831             배        원황     kg   경기 평택시    105.0   119000
18428768  20160831             배        원황     kg   경기 평택시    285.0   247000
18428769  20160831             배        원황     kg   경기 평택시    150.0   110000
18428770  20160831             배        원황     kg   경기 평택시    210.0   119000

[18428771 rows x 7 columns]

In [ ]:
train_1=train_1.groupby(["SALEDATE","PUM_NM","KIND_NM","DAN_NM","SAN_NM"])["TOT_QTY","TOT_AMT"].sum().reset_index()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

In [ ]:
train_2=train_2.groupby(["SALEDATE","PUM_NM","KIND_NM","DAN_NM","SAN_NM"])["TOT_QTY","TOT_AMT"].sum().reset_index()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

In [ ]:
train_3=train_3.groupby(["SALEDATE","PUM_NM","KIND_NM","DAN_NM","SAN_NM"])["TOT_QTY","TOT_AMT"].sum().reset_index()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

In [ ]:
train_1, train_2, train_3

In [ ]:
train_1.join(train_2)

ValueError: ignored

In [ ]:
all_train_123=pd.concat([train_1, train_2, train_3],ignore_index=True)

In [ ]:
train_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 979714 entries, 0 to 979713
Data columns (total 7 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   SALEDATE  979714 non-null  int64
 1   PUM_NM    979714 non-null  object
 2   KIND_NM   979714 non-null  object
 3   DAN_NM    979714 non-null  object
 4   SAN_NM    979714 non-null  object
 5   TOT_QTY   979714 non-null  float64
 6   TOT_AMT   979714 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 52.3+ MB

In [ ]:
pd.to_csv("")

In [ ]:
all_train_123.to_csv("/content/drive/MyDrive/멀캠_딥러닝_장보고프로젝트/농산물_가격예측_AI 경진대회/public_data/all_train_123", index=False)

In [ ]:
# 단위당 가격 컬럼을 새로 만들어서 진행
# 총물량, 총금액 유지

23000

In [ ]:
4600*65
299000/65 # 4600 단위당 가격

4600.0

In [ ]:
train_1

          SALEDATE PUM_NM KIND_NM DAN_NM    SAN_NM  TOT_QTY  TOT_AMT
0         20160210     만감     한라봉     kg       NaN     65.0   299000
1         20160210     만감     한라봉     kg       NaN     45.0   207000
2         20160210     만감     한라봉     kg       NaN     60.0   264000
3         20160210     만감     한라봉     kg       NaN     90.0   360000
4         20160210     만감     한라봉     kg       NaN     70.0   266000
...            ...    ...     ...    ...       ...      ...      ...
13394941  20170130     딸기      장희     kg  경상남도 거창군     40.0   240000
13394942  20170130     딸기      장희     kg  경상남도 거창군     10.0    30000
13394943  20170130     딸기      장희     kg  경상남도 거창군     10.0    70000
13394944  20170130     딸기      장희     kg  경상남도 거창군     10.0    45000
13394945  20170130     딸기      장희     kg  경상남도 거창군     40.0   140000

[13394946 rows x 7 columns]

In [ ]:
train_1["단위당가격"]=train_1["TOT_AMT"]/train_1["TOT_QTY"]

In [ ]:
train_1.groupby(['SALEDATE',	'PUM_NM',	'KIND_NM',	'DAN_NM',	'SAN_NM'])["TOT_QTY","TOT_AMT"].sum()

NameError: ignored

In [ ]:
with open("/content/drive/MyDrive/멀캠_딥러닝_장보고프로젝트/농산물_가격예측_AI 경진대회/public_data/TOTAL_AT_TSALET3.pkl","rb") as fr:
    data_2 = pickle.load(fr)

           SALEDATE WHSAL_NM   CMP_NM PUM_NM  ... QTY   COST TOT_QTY TOT_AMT
0        2020-09-01   대전오정도매  농협대전(공)     메론  ...  20  25200   160.0  504000
1        2020-09-01   대전오정도매  농협대전(공)    강낭콩  ...   4  18900    16.0   75600
2        2020-09-01   대전오정도매  농협대전(공)    강낭콩  ...  11  20000    44.0  220000
3        2020-09-01   대전오정도매  농협대전(공)    강낭콩  ...   3  19800    12.0   59400
4        2020-09-01   대전오정도매  농협대전(공)    강낭콩  ...   5  18300    20.0   91500
...             ...      ...      ...    ...  ...  ..    ...     ...     ...
3453740  2020-09-28   인천구월도매    인천농산물  얼갈이배추  ...  36   4500   144.0  162000
3453741  2020-09-28   인천구월도매    인천농산물  얼갈이배추  ...  36   4500   144.0  162000
3453742  2020-09-28   인천구월도매    인천농산물  얼갈이배추  ...  35   4500   140.0  157500
3453743  2020-09-28   인천구월도매    인천농산물    떫은감  ...   1   2000     4.5    2000
3453744  2020-09-28   서울강서도매     강서청과      무  ...  42  17000   840.0  714000

[3453745 rows x 15 columns]

In [ ]:
data_2["SALEDATE"].unique()

NameError: ignored

In [ ]:
len(data_2)

18428771

In [ ]:
with open("/content/drive/MyDrive/멀캠_딥러닝_장보고프로젝트/농산물_가격예측_AI 경진대회/public_data/TOTAL_AT_TSALET9.pkl","rb") as fr:
    data_9 = pickle.load(fr)

In [ ]:
len(data_9)

17432274

In [ ]:
data

           SALEDATE WHSAL_NM   CMP_NM PUM_NM  ... QTY   COST TOT_QTY TOT_AMT
0        2020-09-01   대전오정도매  농협대전(공)     메론  ...  20  25200   160.0  504000
1        2020-09-01   대전오정도매  농협대전(공)    강낭콩  ...   4  18900    16.0   75600
2        2020-09-01   대전오정도매  농협대전(공)    강낭콩  ...  11  20000    44.0  220000
3        2020-09-01   대전오정도매  농협대전(공)    강낭콩  ...   3  19800    12.0   59400
4        2020-09-01   대전오정도매  농협대전(공)    강낭콩  ...   5  18300    20.0   91500
...             ...      ...      ...    ...  ...  ..    ...     ...     ...
3453740  2020-09-28   인천구월도매    인천농산물  얼갈이배추  ...  36   4500   144.0  162000
3453741  2020-09-28   인천구월도매    인천농산물  얼갈이배추  ...  36   4500   144.0  162000
3453742  2020-09-28   인천구월도매    인천농산물  얼갈이배추  ...  35   4500   140.0  157500
3453743  2020-09-28   인천구월도매    인천농산물    떫은감  ...   1   2000     4.5    2000
3453744  2020-09-28   서울강서도매     강서청과      무  ...  42  17000   840.0  714000

[3453745 rows x 15 columns]

In [ ]:
train_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13394946 entries, 0 to 13394945
Data columns (total 8 columns):
 #   Column    Dtype
---  ------    -----
 0   SALEDATE  int64
 1   PUM_NM    object
 2   KIND_NM   object
 3   DAN_NM    object
 4   SAN_NM    object
 5   TOT_QTY   float64
 6   TOT_AMT   int64
 7   단위당가격     float64
dtypes: float64(2), int64(2), object(4)
memory usage: 817.6+ MB

In [ ]:

train_1[(train_1["SALEDATE"]==20160102)&(train_1["KIND_NM"]=="배추")]["TOT_QTY"].sum()

10118.0

In [ ]:
train_1["TOT_QTY"]=np.where(train_1["DAN_NM"]=="g",train_1["TOT_QTY"]*1000, np.where(train_1["DAN_NM"]=="ton(M/T)",train_1["TOT_QTY"]*1000,)

In [ ]:
train_1["DAN_NM"].value_counts()

kg          13388949
g               5922
ton(M/T)          49
.                 25
Name: DAN_NM, dtype: int64

In [ ]:
train_1[train_1["DAN_NM"]=="."]

          SALEDATE PUM_NM    KIND_NM  ... TOT_QTY TOT_AMT        단위당가격
2709706   20161203     연근       기타연근  ...    44.0   19200   436.363636
2709707   20161203     연근       기타연근  ...    44.0   19600   445.454545
3438966   20161219     연근       기타연근  ...    40.0   17200   430.000000
3438967   20161219     연근       기타연근  ...    40.0   17800   445.000000
3438968   20161219     연근       기타연근  ...    10.0    3800   380.000000
3450797   20161219     깻잎     깻잎(일반)  ...    10.0   80000  8000.000000
3484044   20161217     연근       기타연근  ...    22.0    7100   322.727273
3484620   20161217     연근       기타연근  ...    40.0    9600   240.000000
3484621   20161217     연근       기타연근  ...    23.0    7300   317.391304
3525145   20161216     연근       기타연근  ...    40.0   13000   325.000000
3700630   20161212     연근       기타연근  ...    50.0   23000   460.000000
3700631   20161212     연근       기타연근  ...    50.0   23600   472.000000
4652255   20161221     연근       기타연근  ...    60.0   37500   625.000000
4663082   20161221     미역       줄기미역  ...    40.0   65000  1625.000000
5635980   20170202     부추       일반부추  ...    60.0  247500  4125.000000
5635981   20170202  느타리버섯    기타느타리버섯  ...    24.0   42000  1750.000000
10763253  20170107     상추        적상추  ...    44.0   22000   500.000000
10864026  20170105     상추        상추순  ...    28.0   24500   875.000000
10914746  20170104    고구마         기타  ...    10.0    9000   900.000000
10914747  20170104    고구마         기타  ...    10.0   12000  1200.000000
10914748  20170104    고구마         기타  ...    10.0   12000  1200.000000
10914749  20170104    고구마         기타  ...    70.0   98000  1400.000000
10914750  20170104    고구마         기타  ...    40.0   36000   900.000000
10914751  20170104    고구마         기타  ...    10.0    6000   600.000000
11713318  20170117  느타리버섯  느타리버섯(일반)  ...     4.0   11000  2750.000000

[25 rows x 8 columns]

In [ ]:
train_1[train_1["PUM_NM"]=="미역"]

          SALEDATE PUM_NM KIND_NM  ... TOT_QTY  TOT_AMT        단위당가격
968       20160207     미역    줄기미역  ...    16.0    18000  1125.000000
969       20160207     미역    줄기미역  ...    18.0    21000  1166.666667
4243      20160207     미역      기타  ...   180.0   720000  4000.000000
4247      20160207     미역      기타  ...   180.0   720000  4000.000000
4252      20160207     미역      기타  ...   300.0  1200000  4000.000000
...            ...    ...     ...  ...     ...      ...          ...
13390843  20170127     미역     물미역  ...   100.0    37500   375.000000
13390844  20170127     미역     물미역  ...   100.0    37500   375.000000
13393750  20170127     미역     물미역  ...    80.0    30000   375.000000
13393752  20170127     미역     물미역  ...   120.0    45000   375.000000
13394361  20170127     미역     물미역  ...   120.0    60000   500.000000

[44094 rows x 8 columns]

In [ ]:
train_1[train_1["SALEDATE"]==20160101]

         SALEDATE WHSAL_NM CMP_NM PUM_NM  ... QTY     COST TOT_QTY TOT_AMT
8235428  20160101   충주도매시장   중원청과     만감  ...   5  16000.0    15.0   80000
8235429  20160101   충주도매시장   중원청과     만감  ...  14  16500.0    42.0  231000
8235430  20160101   충주도매시장   중원청과     만감  ...   8  15500.0    24.0  124000
8235431  20160101   충주도매시장   중원청과     만감  ...   3  15500.0     9.0   46500
8235432  20160101   충주도매시장   중원청과     만감  ...   9  13500.0    27.0  121500
...           ...      ...    ...    ...  ...  ..      ...     ...     ...
8235542  20160101   충주도매시장   중원청과     사과  ...  10  20000.0   200.0  200000
8235543  20160101   충주도매시장   중원청과     사과  ...   2  15000.0    40.0   30000
8235544  20160101   충주도매시장   중원청과     사과  ...   1  13000.0    20.0   13000
8235545  20160101   충주도매시장   중원청과     사과  ...   2  22000.0    40.0   44000
8235546  20160101   충주도매시장   중원청과     사과  ...   6  17000.0   120.0  102000

[119 rows x 15 columns]

In [ ]:
pd.read_csv("/content/drive/MyDrive/멀캠_딥러닝_장보고프로젝트/농산물_가격예측_AI 경진대회/public_data/train.csv")

            date   요일  배추_거래량(kg)  ...  캠벨얼리_가격(원/kg)  샤인마스캇_거래량(kg)  샤인마스캇_가격(원/kg)
0     2016-01-01  금요일         0.0  ...            0.0            0.0             0.0
1     2016-01-02  토요일     80860.0  ...         2014.0            0.0             0.0
2     2016-01-03  일요일         0.0  ...            0.0            0.0             0.0
3     2016-01-04  월요일   1422742.5  ...         3885.0            0.0             0.0
4     2016-01-05  화요일   1167241.0  ...         2853.0            0.0             0.0
...          ...  ...         ...  ...            ...            ...             ...
1728  2020-09-24  목요일   1856965.0  ...         3620.0       283196.9         10940.0
1729  2020-09-25  금요일   1880095.5  ...         3618.0       303779.6         10844.0
1730  2020-09-26  토요일   1661090.9  ...         3691.0       313295.7         10636.0
1731  2020-09-27  일요일     25396.0  ...         3567.0         9734.0         10699.0
1732  2020-09-28  월요일   2405051.9  ...         3761.0       382263.4         10998.0

[1733 rows x 44 columns]

In [ ]:
1.7 -> 

22->

In [ ]:
# 권장하는 사례
import pandas as pd, os

base_dir = '/content/drive/MyDrive/멀캠_딥러닝_장보고프로젝트/농산물_가격예측_AI 경진대회/public_data/total_pickle'

list_of_df = [] # 빈 list를 만듦.
for fname in os.listdir(base_dir):
    df_temp = pd.read_csv(os.path.join(base_dir, fname))
    list_of_df.append(df_temp) # 매 Loop에서 취해진 DataFrame을 위의 list에 적재함.
df_accum = pd.concat(list_of_df) # list 속 DataFrame들을 일괄 병합함.

UnicodeDecodeError: ignored

In [ ]:
os.listdir(base_dir)

['TOTAL_AT_TSALET1.pkl',
 'TOTAL_AT_TSALET2.pkl',
 'TOTAL_AT_TSALET3.pkl',
 'TOTAL_AT_TSALET4.pkl',
 'TOTAL_AT_TSALET5.pkl']

In [ ]:
os.path.join(base_dir, fname)

'/content/drive/MyDrive/멀캠_딥러닝_장보고프로젝트/농산물_가격예측_AI 경진대회/public_data/total_pickle/TOTAL_AT_TSALET1.pkl'

In [ ]:
pd.read_excel(os.path.join(base_dir, fname))

XLRDError: ignored

In [ ]:
pd.read_excel(os.path.join(base_dir, fname))

XLRDError: ignored

In [ ]:
TOTAL_AT_TSALET1.pkl.join(TOTAL_AT_TSALET2.pkl)

NameError: ignored

In [ ]:
import pickle

In [ ]:
with open('/content/drive/MyDrive/멀캠_딥러닝_장보고프로젝트/농산물_가격예측_AI 경진대회/public_data/total_pickle/TOTAL_AT_TSALET1.pkl', 'rb') as f:
    data = pickle.load(f)

In [ ]:
with open('/content/drive/MyDrive/멀캠_딥러닝_장보고프로젝트/농산물_가격예측_AI 경진대회/public_data/total_pickle/TOTAL_AT_TSALET2.pkl', 'rb') as f:
    data_2 = pickle.load(f)

In [ ]:
pd.concat([data, data_2])

         SALEDATE WHSAL_NM CMP_NM PUM_NM  ... QTY     COST TOT_QTY TOT_AMT
0        20170110   안산도매시장  안산농산물   팽이버섯  ...  10   8500.0    50.0   85000
1        20170110   안산도매시장  안산농산물   팽이버섯  ...  40   8500.0   200.0  340000
2        20170110   안산도매시장  안산농산물    만가닥  ...   3   5500.0     6.0   16500
3        20170110   안산도매시장  안산농산물    만가닥  ...   3   5500.0     6.0   16500
4        20170110   안산도매시장  안산농산물    만가닥  ...   7   5500.0    14.0   38500
...           ...      ...    ...    ...  ...  ..      ...     ...     ...
3393632  20170331   서울강서도매   강서청과     포도  ...  10  26000.0    90.0  260000
3393633  20170331   서울강서도매   강서청과     포도  ...  10  26000.0    90.0  260000
3393634  20170331   서울강서도매   강서청과     포도  ...  10  26000.0    90.0  260000
3393635  20170331   서울강서도매   강서청과     포도  ...  10  26000.0    90.0  260000
3393636  20170331   서울강서도매   강서청과     포도  ...  10  26000.0    90.0  260000

[6152060 rows x 15 columns]

In [ ]:
data

         SALEDATE WHSAL_NM CMP_NM PUM_NM  ... QTY    COST TOT_QTY TOT_AMT
0        20170110   안산도매시장  안산농산물   팽이버섯  ...  10  8500.0    50.0   85000
1        20170110   안산도매시장  안산농산물   팽이버섯  ...  40  8500.0   200.0  340000
2        20170110   안산도매시장  안산농산물    만가닥  ...   3  5500.0     6.0   16500
3        20170110   안산도매시장  안산농산물    만가닥  ...   3  5500.0     6.0   16500
4        20170110   안산도매시장  안산농산물    만가닥  ...   7  5500.0    14.0   38500
...           ...      ...    ...    ...  ...  ..     ...     ...     ...
2758418  20170130   서울강서도매   서부청과     딸기  ...  40  6000.0    40.0  240000
2758419  20170130   서울강서도매   서부청과     딸기  ...  10  3000.0    10.0   30000
2758420  20170130   서울강서도매   서부청과     딸기  ...  10  7000.0    10.0   70000
2758421  20170130   서울강서도매   서부청과     딸기  ...  10  4500.0    10.0   45000
2758422  20170130   서울강서도매   서부청과     딸기  ...  40  3500.0    40.0  140000

[2758423 rows x 15 columns]

In [ ]:
data_2

         SALEDATE WHSAL_NM CMP_NM PUM_NM  ... QTY     COST TOT_QTY TOT_AMT
0        20170310   수원도매시장   수원청과     딸기  ...  39  12500.0    78.0  487500
1        20170310   수원도매시장   수원청과     딸기  ...   1   6000.0     2.0    6000
2        20170310   수원도매시장   수원청과     딸기  ...  55  11500.0   110.0  632500
3        20170310   수원도매시장   수원청과     딸기  ...  26   7000.0    52.0  182000
4        20170310   수원도매시장   수원청과     딸기  ...   9   5200.0    18.0   46800
...           ...      ...    ...    ...  ...  ..      ...     ...     ...
3393632  20170331   서울강서도매   강서청과     포도  ...  10  26000.0    90.0  260000
3393633  20170331   서울강서도매   강서청과     포도  ...  10  26000.0    90.0  260000
3393634  20170331   서울강서도매   강서청과     포도  ...  10  26000.0    90.0  260000
3393635  20170331   서울강서도매   강서청과     포도  ...  10  26000.0    90.0  260000
3393636  20170331   서울강서도매   강서청과     포도  ...  10  26000.0    90.0  260000

[3393637 rows x 15 columns]

In [ ]:
import os

In [ ]:
path="/content/drive/MyDrive/멀캠_딥러닝_장보고프로젝트/농산물_가격예측_AI 경진대회/public_data/total_pickle"

In [ ]:
pkl_dir_list=os.listdir(path)

In [ ]:
data_list = []

for i in range(len(pkl_dir_list)):
    with open(path + '/' + pkl_dir_list[i],'rb') as f:
        data = pickle.load(f)
        data_list.append(data)

In [ ]:
data_list

[         SALEDATE WHSAL_NM CMP_NM PUM_NM  ... QTY    COST TOT_QTY TOT_AMT
 0        20170110   안산도매시장  안산농산물   팽이버섯  ...  10  8500.0    50.0   85000
 1        20170110   안산도매시장  안산농산물   팽이버섯  ...  40  8500.0   200.0  340000
 2        20170110   안산도매시장  안산농산물    만가닥  ...   3  5500.0     6.0   16500
 3        20170110   안산도매시장  안산농산물    만가닥  ...   3  5500.0     6.0   16500
 4        20170110   안산도매시장  안산농산물    만가닥  ...   7  5500.0    14.0   38500
 ...           ...      ...    ...    ...  ...  ..     ...     ...     ...
 2758418  20170130   서울강서도매   서부청과     딸기  ...  40  6000.0    40.0  240000
 2758419  20170130   서울강서도매   서부청과     딸기  ...  10  3000.0    10.0   30000
 2758420  20170130   서울강서도매   서부청과     딸기  ...  10  7000.0    10.0   70000
 2758421  20170130   서울강서도매   서부청과     딸기  ...  10  4500.0    10.0   45000
 2758422  20170130   서울강서도매   서부청과     딸기  ...  40  3500.0    40.0  140000

 [2758423 rows x 15 columns],
          SALEDATE WHSAL_NM CMP_NM PUM_NM  ... QTY     COST TOT_QTY TOT_AMT
 0        20170310   수원도매시장   수원청과     딸기  ...  39  12500.0    78.0  487500
 1        20170310   수원도매시장   수원청과     딸기  ...   1   6000.0     2.0    6000
 2        20170310   수원도매시장   수원청과     딸기  ...  55  11500.0   110.0  632500
 3        20170310   수원도매시장   수원청과     딸기  ...  26   7000.0    52.0  182000
 4        20170310   수원도매시장   수원청과     딸기  ...   9   5200.0    18.0   46800
 ...           ...      ...    ...    ...  ...  ..      ...     ...     ...
 3393632  20170331   서울강서도매   강서청과     포도  ...  10  26000.0    90.0  260000
 3393633  20170331   서울강서도매   강서청과     포도  ...  10  26000.0    90.0  260000
 3393634  20170331   서울강서도매   강서청과     포도  ...  10  26000.0    90.0  260000
 3393635  20170331   서울강서도매   강서청과     포도  ...  10  26000.0    90.0  260000
 3393636  20170331   서울강서도매   강서청과     포도  ...  10  26000.0    90.0  260000

 [3393637 rows x 15 columns],
          SALEDATE WHSAL_NM CMP_NM PUM_NM  ... QTY     COST TOT_QTY TOT_AMT
 0        20160810   부산엄궁도매   부산청과    복숭아  ...  12  10300.0    54.0  123600
 1        20160810   부산엄궁도매   부산청과    복숭아  ...  12   8500.0    54.0  102000
 2        20160810   부산엄궁도매   부산청과    복숭아  ...   6   6600.0    27.0   39600
 3        20160810   부산엄궁도매   부산청과    복숭아  ...   1   5500.0    10.0    5500
 4        20160810   부산엄궁도매   부산청과    복숭아  ...   3  25200.0    30.0   75600
 ...           ...      ...    ...    ...  ...  ..      ...     ...     ...
 4034213  20160831   서울강서도매   강서청과      배  ...   1  18000.0    15.0   18000
 4034214  20160831   서울강서도매   강서청과      배  ...   7  17000.0   105.0  119000
 4034215  20160831   서울강서도매   강서청과      배  ...  19  13000.0   285.0  247000
 4034216  20160831   서울강서도매   강서청과      배  ...  10  11000.0   150.0  110000
 4034217  20160831   서울강서도매   강서청과      배  ...  14   8500.0   210.0  119000

 [4034218 rows x 15 columns],
          SALEDATE WHSAL_NM CMP_NM PUM_NM  ... QTY     COST TOT_QTY TOT_AMT
 0        20171010   인천구월도매  인천농산물     사과  ...  15  28000.0   150.0  420000
 1        20171010   인천구월도매  인천농산물     사과  ...  12  25000.0   120.0  300000
 2        20171010   인천구월도매  인천농산물     사과  ...  12  23500.0   120.0  282000
 3        20171010   인천구월도매  인천농산물     사과  ...   4  19500.0    40.0   78000
 4        20171010   인천구월도매  인천농산물     사과  ...   4  15000.0    40.0   60000
 ...           ...      ...    ...    ...  ...  ..      ...     ...     ...
 3037167  20171031   서울강서도매   강서청과    양송이  ... -16  13000.0   -32.0 -208000
 3037168  20171031   서울강서도매   강서청과    양송이  ... -13  13000.0   -26.0 -169000
 3037169  20171031   서울강서도매   강서청과    양송이  ...  24   9000.0    48.0  216000
 3037170  20171031   서울강서도매   강서청과    양송이  ...  16  13000.0    32.0  208000
 3037171  20171031   서울강서도매   강서청과    양송이  ...  13  13000.0    26.0  169000

 [3037172 rows x 15 columns],
          SALEDATE WHSAL_NM CMP_NM      PUM_NM  ... QTY   COST TOT_QTY TOT_AMT
 0        20180510   전주도매시장   전주청과          참외  ...   4  25000    40.0  100000
 1        20180510   전주도매시장   전주청과          참외  ...   2  25000    20.0   50000
 2        20180510   전주도매시장   전주청과          참외  ...   1  22000    10.0   22000
 3        20180510   전주도매시장   전주청과          참외  ...   3  18000    30.0   54000
 4        20180510   전주도매시장   전주청과          참외  ...  10  36000   100.0  360000
 ...           ...      ...    ...         ...  ...  ..    ...     ...     ...
 3666780  20180531   서울강서도매   강서청과  비트(붉은사탕무우)  ...  -7  10000   -70.0  -70000
 3666781  20180531   서울강서도매   강서청과  비트(붉은사탕무우)  ... -35  11000  -350.0 -385000
 3666782  20180531   서울강서도매   강서청과  비트(붉은사탕무우)  ... -23  10000  -230.0 -230000
 3666783  20180531   서울강서도매   강서청과  비트(붉은사탕무우)  ...   7  10000    70.0   70000
 3666784  20180531   서울강서도매   강서청과  비트(붉은사탕무우)  ...  35  11000   350.0  385000

 [3666785 rows x 15 columns],
          SALEDATE WHSAL_NM CMP_NM PUM_NM  ...  QTY     COST TOT_QTY   TOT_AMT
 0        20180810   부산엄궁도매   항도청과    양송이  ...    1   7800.0     1.0      7800
 1        20180810   부산엄궁도매   항도청과    양송이  ...    1   7800.0     1.0      7800
 2        20180810   부산엄궁도매   항도청과    양송이  ...    1   7800.0     1.0      7800
 3        20180810   부산엄궁도매   항도청과    양송이  ...    2   6900.0     2.0     13800
 4        20180810   부산엄궁도매   항도청과    양송이  ...    1   4800.0     1.0      4800
 ...           ...      ...    ...    ...  ...  ...      ...     ...       ...
 3893455  20180831   서울강서도매   강서청과      무  ... -384  29000.0 -7680.0 -11136000
 3893456  20180831   서울강서도매   강서청과      무  ...   84  27000.0  1680.0   2268000
 3893457  20180831   서울강서도매   강서청과      무  ...  384  27000.0  7680.0  10368000
 3893458  20180831   서울강서도매   강서청과    풋고추  ...  -15  51000.0  -150.0   -765000
 3893459  20180831   서울강서도매   강서청과    풋고추  ...   14  51000.0   140.0    714000

 [3893460 rows x 15 columns],
          SALEDATE WHSAL_NM  CMP_NM PUM_NM  ...  QTY     COST TOT_QTY  TOT_AMT
 0        20180910   광주각화도매  광주중앙청과    새송이  ...  140    830.0    56.0   116200
 1        20180910   광주각화도매  광주중앙청과    새송이  ...  130    850.0    52.0   110500
 2        20180910   광주각화도매  광주중앙청과    새송이  ...  130    850.0    52.0   110500
 3        20180910   광주각화도매  광주중앙청과    새송이  ...  100    850.0    40.0    85000
 4        20180910   광주각화도매  광주중앙청과    새송이  ...   20   2000.0    40.0    40000
 ...           ...      ...     ...    ...  ...  ...      ...     ...      ...
 3497397  20180929   서울강서도매    강서청과      무  ...   83  15000.0  1660.0  1245000
 3497398  20180929   서울강서도매    강서청과      무  ...   83  15000.0  1660.0  1245000
 3497399  20180929   서울강서도매    강서청과      무  ...   84  10000.0  1680.0   840000
 3497400  20180929   서울강서도매    강서청과      무  ...   42  10000.0   840.0   420000
 3497401  20180929   서울강서도매    강서청과      무  ...   42  10000.0   840.0   420000

 [3497402 rows x 15 columns],
          SALEDATE WHSAL_NM CMP_NM PUM_NM  ...  QTY    COST TOT_QTY TOT_AMT
 0        20190410   대구북부도매   대양청과    토마토  ...   63  9800.0   315.0  617400
 1        20190410   대구북부도매   대양청과    토마토  ...   19  6200.0    95.0  117800
 2        20190410   대구북부도매   대양청과    토마토  ...   11  5500.0    55.0   60500
 3        20190410   대구북부도매   대양청과    토마토  ...    5  4500.0    25.0   22500
 4        20190410   대구북부도매   대양청과    토마토  ...    1  2500.0     5.0    2500
 ...           ...      ...    ...    ...  ...  ...     ...     ...     ...
 3433601  20190430   서울강서도매   강서청과     기타  ...  -19  5200.0  -380.0  -98800
 3433602  20190430   서울강서도매   강서청과     기타  ...  -50  5500.0 -1000.0 -275000
 3433603  20190430   서울강서도매   강서청과     기타  ...  100  5200.0  2000.0  520000
 3433604  20190430   서울강서도매   강서청과     기타  ...   19  5200.0   380.0   98800
 3433605  20190430   서울강서도매   강서청과     기타  ...   50  5500.0  1000.0  275000

 [3433606 rows x 15 columns],
          SALEDATE WHSAL_NM CMP_NM PUM_NM  ... QTY   COST TOT_QTY TOT_AMT
 0        20191210   대구북부도매   효성청과    새송이  ...  57   2800   114.0  159600
 1        20191210   대구북부도매   효성청과  느타리버섯  ...   2  12800     8.0   25600
 2        20191210   대구북부도매   효성청과    만가닥  ...  20   6100    40.0  122000
 3        20191210   대구북부도매   효성청과    만가닥  ...  20   6300    40.0  126000
 4        20191210   대구북부도매   효성청과  느타리버섯  ...  30   3300    60.0   99000
 ...           ...      ...    ...    ...  ...  ..    ...     ...     ...
 2917768  20191231   서울강서도매   강서청과     감귤  ... -24  13000   -72.0 -312000
 2917769  20191231   서울강서도매   강서청과     감귤  ... -19  13000   -57.0 -247000
 2917770  20191231   서울강서도매   강서청과     감귤  ...   4  13000    12.0   52000
 2917771  20191231   서울강서도매   강서청과     감귤  ...  24  13000    72.0  312000
 2917772  20191231   서울강서도매   강서청과     감귤  ...  19  13000    57.0  247000

 [2917773 rows x 15 columns],
            SALEDATE WHSAL_NM   CMP_NM PUM_NM  ... QTY   COST TOT_QTY TOT_AMT
 0        2020-09-01   대전오정도매  농협대전(공)     메론  ...  20  25200   160.0  504000
 1        2020-09-01   대전오정도매  농협대전(공)    강낭콩  ...   4  18900    16.0   75600
 2        2020-09-01   대전오정도매  농협대전(공)    강낭콩  ...  11  20000    44.0  220000
 3        2020-09-01   대전오정도매  농협대전(공)    강낭콩  ...   3  19800    12.0   59400
 4        2020-09-01   대전오정도매  농협대전(공)    강낭콩  ...   5  18300    20.0   91500
 ...             ...      ...      ...    ...  ...  ..    ...     ...     ...
 3453740  2020-09-28   인천구월도매    인천농산물  얼갈이배추  ...  36   4500   144.0  162000
 3453741  2020-09-28   인천구월도매    인천농산물  얼갈이배추  ...  36   4500   144.0  162000
 3453742  2020-09-28   인천구월도매    인천농산물  얼갈이배추  ...  35   4500   140.0  157500
 3453743  2020-09-28   인천구월도매    인천농산물    떫은감  ...   1   2000     4.5    2000
 3453744  2020-09-28   서울강서도매     강서청과      무  ...  42  17000   840.0  714000

 [3453745 rows x 15 columns]]

In [ ]:
import pandas as pd

In [ ]:
new_data=pd.concat(data_list, axis=0)

In [ ]:
import pickle
import gzip

In [ ]:
with gzip.open('/content/drive/MyDrive/멀캠_딥러닝_장보고프로젝트/농산물_가격예측_AI 경진대회/public_data/traindata.pickle', 'wb') as f:
    pickle.dump(new_data, f)

KeyboardInterrupt: ignored