In [1]:
import pandas as pd
import numpy as np

### 원유 데이터 전처리

In [3]:
crude_data = pd.read_csv('C:\JanbogoProject2\JangbogoProject\data\crude.csv')
new_crude_data = crude_data[['Dubai','날짜']]
new_crude_data

       Dubai                   날짜
0     574.82  2010-01-04 00:00:00
1     580.55  2010-01-05 00:00:00
2     575.23  2010-01-06 00:00:00
3     578.17  2010-01-07 00:00:00
4     572.64  2010-01-08 00:00:00
...      ...                  ...
3041  618.45  2021-10-14 00:00:00
3042  620.29  2021-10-15 00:00:00
3043  624.11  2021-10-18 00:00:00
3044  619.28  2021-10-19 00:00:00
3045  613.65  2021-10-20 00:00:00

[3046 rows x 2 columns]

In [5]:
new_crude_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3046 entries, 0 to 3045
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Dubai   3046 non-null   float64
 1   날짜      3046 non-null   object
dtypes: float64(1), object(1)
memory usage: 47.7+ KB

In [9]:
temp_crude_date = pd.to_datetime(new_crude_data.날짜)

In [19]:
new_crude_data['날짜'] = temp_crude_date
new_crude_data.rename(columns={'날짜':'date'}, inplace= True)

C:\Users\Public\Documents\ESTsoft\CreatorTemp/ipykernel_2912/4033440212.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_crude_data['날짜'] = temp_crude_date
C:\Users\song\anaconda3\envs\JanbogoProject2\lib\site-packages\pandas\core\frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [22]:
final_crude_data = new_crude_data[['date','Dubai']]
final_crude_data

           date   Dubai
0    2010-01-04  574.82
1    2010-01-05  580.55
2    2010-01-06  575.23
3    2010-01-07  578.17
4    2010-01-08  572.64
...         ...     ...
3041 2021-10-14  618.45
3042 2021-10-15  620.29
3043 2021-10-18  624.11
3044 2021-10-19  619.28
3045 2021-10-20  613.65

[3046 rows x 2 columns]

In [23]:
import os

In [24]:
os.getcwd()

'c:\\JanbogoProject2\\JangbogoProject\\develop'

In [25]:
final_crude_data.to_csv('final_crude_data.csv')