In [ ]:
# from google.colab import drive
# drive.mount('/content/drive')

In [ ]:
import pandas as pd
import pickle

In [ ]:
# df=pd.read_csv("/content/drive/MyDrive/멀캠_딥러닝_장보고프로젝트/235801_2021 농산물 가격예측 AI 경진대회/public_data/train.csv")

In [ ]:
import os

In [ ]:
os.getcwd()

'/content'

In [ ]:
dir_path = "/content/drive/MyDrive/멀캠_장보고/농산물_가격예측_AI 경진대회/public_data/train_AT_TSALET_ALL/" # 파일위치 폴더 
os.listdir(dir_path)
fd_filenm = os.listdir(dir_path) # 모든 파일명 리스트를 가져옴
fd_filenm=[f_nm for f_nm in fd_filenm if f_nm[-3:]=='csv']
# fd_filenm
print(len(fd_filenm))

57

In [ ]:
# dir_path = "/content/drive/MyDrive/멀캠_장보고/농산물_가격예측_AI 경진대회/public_data/total_pickle/" # 파일위치 폴더 
# os.listdir(dir_path)
# fd_filenm = os.listdir(dir_path) # 모든 파일명 리스트를 가져옴
# fd_filenm=[f_nm for f_nm in fd_filenm if f_nm[-3:]=='pkl']
# # fd_filenm
# print(len(fd_filenm))

In [ ]:
fd_size=int(len(fd_filenm)/10)
fd_size

5

In [ ]:
# from google.colab import drive
# drive.mount('/content/drive')

In [ ]:
file_list1=fd_filenm[:fd_size]
file_list2=fd_filenm[fd_size:fd_size*2]
file_list3=fd_filenm[fd_size*2:fd_size*3]
file_list4=fd_filenm[fd_size*3:fd_size*4]
file_list5=fd_filenm[fd_size*4:fd_size*5]
file_list6=fd_filenm[fd_size*5:fd_size*6]
file_list7=fd_filenm[fd_size*6:fd_size*7]
file_list8=fd_filenm[fd_size*7:fd_size*8]
file_list9=fd_filenm[fd_size*8:fd_size*9]
file_list10=fd_filenm[fd_size*9:]
# file_list5=fd_filenm[fd_size*10:fd_size*5]

In [ ]:
# fd_filenm

In [ ]:
def concat_read_file(arg_fnm_list):
    global dir_path
    fd_path = dir_path
    flag = True

    dfs = pd.DataFrame()
    for fnm in arg_fnm_list:
        print("파일명 : ", fnm)
        df = pd.read_csv(fd_path+fnm, thousands=',') # 파일을 열었을때 무시하는 행            
        
        if flag : 
            print("개수 확인1 : ", df.shape)
            dfs = df
            flag = False
        else:
            print("개수 확인2 : ", df.shape)
            temp = pd.concat([dfs,df], join='outer', ignore_index=True, axis=0)
            dfs = temp
    return dfs

In [ ]:
# def concat_read_file2(arg_fnm_list):
#     global dir_path
#     fd_path = dir_path
#     flag = True

#     dfs = pd.DataFrame()
#     for fnm in arg_fnm_list:
#         print("파일명 : ", fnm)
#         df = pd.read_pickle(fd_path+fnm) # 파일을 열었을때 무시하는 행            
#         if flag : 
#             dfs = df
#             flag = False
#         else:
#             temp = pd.concat([dfs,df], join='outer', ignore_index=True, axis=0)
#             dfs = temp
#     return dfs

In [ ]:
df_pkl = concat_read_file2(fd_filenm)

파일명 :  TOTAL_AT_TSALET1.pkl
파일명 :  TOTAL_AT_TSALET2.pkl
파일명 :  TOTAL_AT_TSALET3.pkl
파일명 :  TOTAL_AT_TSALET4.pkl
파일명 :  TOTAL_AT_TSALET5.pkl
파일명 :  TOTAL_AT_TSALET6.pkl
파일명 :  TOTAL_AT_TSALET7.pkl
파일명 :  TOTAL_AT_TSALET8.pkl
파일명 :  TOTAL_AT_TSALET9.pkl
파일명 :  TOTAL_AT_TSALET10.pkl

In [ ]:
df_pkl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34086221 entries, 0 to 34086220
Data columns (total 15 columns):
 #   Column    Dtype
---  ------    -----
 0   SALEDATE  object
 1   WHSAL_NM  object
 2   CMP_NM    object
 3   PUM_NM    object
 4   KIND_NM   object
 5   DAN_NM    object
 6   POJ_NM    object
 7   SIZE_NM   object
 8   LV_NM     object
 9   SAN_NM    object
 10  DANQ      float64
 11  QTY       int64
 12  COST      float64
 13  TOT_QTY   float64
 14  TOT_AMT   int64
dtypes: float64(3), int64(2), object(10)
memory usage: 3.8+ GB

In [ ]:
df_pkl.to_pickle("/content/drive/MyDrive/멀캠_장보고/농산물_가격예측_AI 경진대회/public_data/TOT.pkl")

In [ ]:
df1=concat_read_file(file_list1)
# df1.to_csv("/content/drive/MyDrive/멀캠_장보고/농산물_가격예측_AI 경진대회/public_data/TOTAL_AT_TSALET1.csv")
df1.to_pickle("/content/drive/MyDrive/멀캠_장보고/농산물_가격예측_AI 경진대회/public_data/TOTAL_AT_TSALET1.pkl")

파일명 :  AT_TSALET_ALL_201602.csv
개수 확인1 :  (2432161, 15)
파일명 :  AT_TSALET_ALL_201612.csv
개수 확인2 :  (2874710, 15)
파일명 :  AT_TSALET_ALL_201702.csv
개수 확인2 :  (2628856, 15)
파일명 :  AT_TSALET_ALL_201601.csv
개수 확인2 :  (2700796, 15)
파일명 :  AT_TSALET_ALL_201701.csv
개수 확인2 :  (2758423, 15)

In [ ]:
# df1.info()

In [ ]:
df2=concat_read_file(file_list2)
# df2.to_csv("/content/drive/MyDrive/멀캠_장보고/농산물_가격예측_AI 경진대회/public_data/TOTAL_AT_TSALET2.csv")
df2.to_pickle("/content/drive/MyDrive/멀캠_장보고/농산물_가격예측_AI 경진대회/public_data/TOTAL_AT_TSALET2.pkl")

파일명 :  AT_TSALET_ALL_201603.csv
개수 확인1 :  (3178990, 15)
파일명 :  AT_TSALET_ALL_201604.csv
개수 확인2 :  (3397855, 15)
파일명 :  AT_TSALET_ALL_201611.csv
개수 확인2 :  (2948666, 15)
파일명 :  AT_TSALET_ALL_201704.csv
개수 확인2 :  (3439202, 15)
파일명 :  AT_TSALET_ALL_201703.csv
개수 확인2 :  (3393637, 15)

In [ ]:
# df2.info()

In [ ]:
2758423 + 3393637

6152060

In [ ]:
df3=concat_read_file(file_list3)
# df3.to_csv("/content/drive/MyDrive/멀캠_장보고/농산물_가격예측_AI 경진대회/public_data/TOTAL_AT_TSALET3.csv")
df3.to_pickle("/content/drive/MyDrive/멀캠_장보고/농산물_가격예측_AI 경진대회/public_data/TOTAL_AT_TSALET3.pkl")

파일명 :  AT_TSALET_ALL_201605.csv
개수 확인1 :  (3581551, 15)
파일명 :  AT_TSALET_ALL_201609.csv
개수 확인2 :  (3427075, 15)
파일명 :  AT_TSALET_ALL_201610.csv
개수 확인2 :  (3435175, 15)
파일명 :  AT_TSALET_ALL_201606.csv
개수 확인2 :  (3950752, 15)
파일명 :  AT_TSALET_ALL_201608.csv
개수 확인2 :  (4034218, 15)

In [ ]:
df4=concat_read_file(file_list4)
# df4.to_csv("/content/drive/MyDrive/멀캠_장보고/농산물_가격예측_AI 경진대회/public_data/TOTAL_AT_TSALET4.csv")
df4.to_pickle("/content/drive/MyDrive/멀캠_장보고/농산물_가격예측_AI 경진대회/public_data/TOTAL_AT_TSALET4.pkl")

파일명 :  AT_TSALET_ALL_201607.csv
개수 확인1 :  (4029410, 15)
파일명 :  AT_TSALET_ALL_201705.csv
개수 확인2 :  (3607607, 15)
파일명 :  AT_TSALET_ALL_201802.csv
개수 확인2 :  (2691361, 15)
파일명 :  AT_TSALET_ALL_201712.csv
개수 확인2 :  (2752575, 15)
파일명 :  AT_TSALET_ALL_201710.csv
개수 확인2 :  (3037172, 15)

In [ ]:
df5=concat_read_file(file_list5)
# df5.to_csv("/content/drive/MyDrive/멀캠_장보고/농산물_가격예측_AI 경진대회/public_data/TOTAL_AT_TSALET5.csv")
df5.to_pickle("/content/drive/MyDrive/멀캠_장보고/농산물_가격예측_AI 경진대회/public_data/TOTAL_AT_TSALET5.pkl")

파일명 :  AT_TSALET_ALL_201801.csv
개수 확인1 :  (2841238, 15)
파일명 :  AT_TSALET_ALL_201711.csv
개수 확인2 :  (3090606, 15)
파일명 :  AT_TSALET_ALL_201804.csv
개수 확인2 :  (3270190, 15)
파일명 :  AT_TSALET_ALL_201706.csv
개수 확인2 :  (4031132, 15)
파일명 :  AT_TSALET_ALL_201805.csv
개수 확인2 :  (3666785, 15)

In [ ]:
df6=concat_read_file(file_list6)
# df6.to_csv("/content/drive/MyDrive/멀캠_장보고/농산물_가격예측_AI 경진대회/public_data/TOTAL_AT_TSALET6.csv")
df6.to_pickle("/content/drive/MyDrive/멀캠_장보고/농산물_가격예측_AI 경진대회/public_data/TOTAL_AT_TSALET6.pkl")

파일명 :  AT_TSALET_ALL_201707.csv
개수 확인1 :  (4076811, 15)
파일명 :  AT_TSALET_ALL_201803.csv
개수 확인2 :  (3257570, 15)
파일명 :  AT_TSALET_ALL_201708.csv
개수 확인2 :  (4076945, 15)
파일명 :  AT_TSALET_ALL_201709.csv
개수 확인2 :  (4124457, 15)
파일명 :  AT_TSALET_ALL_201808.csv
개수 확인2 :  (3893460, 15)

In [ ]:
df7=concat_read_file(file_list7)
# df7.to_csv("/content/drive/MyDrive/멀캠_장보고/농산물_가격예측_AI 경진대회/public_data/TOTAL_AT_TSALET7.csv")
df7.to_pickle("/content/drive/MyDrive/멀캠_장보고/농산물_가격예측_AI 경진대회/public_data/TOTAL_AT_TSALET7.pkl")

파일명 :  AT_TSALET_ALL_201806.csv
개수 확인1 :  (3901788, 15)
파일명 :  AT_TSALET_ALL_201807.csv
개수 확인2 :  (4041145, 15)
파일명 :  AT_TSALET_ALL_201902.csv
개수 확인2 :  (2318724, 15)
파일명 :  AT_TSALET_ALL_201901.csv
개수 확인2 :  (3218994, 15)
파일명 :  AT_TSALET_ALL_201809.csv
개수 확인2 :  (3497402, 15)

In [ ]:
df8=concat_read_file(file_list8)
# df8.to_csv("/content/drive/MyDrive/멀캠_장보고/농산물_가격예측_AI 경진대회/public_data/TOTAL_AT_TSALET8.csv")
df8.to_pickle("/content/drive/MyDrive/멀캠_장보고/농산물_가격예측_AI 경진대회/public_data/TOTAL_AT_TSALET8.pkl")

파일명 :  AT_TSALET_ALL_201812.csv
개수 확인1 :  (2863307, 15)
파일명 :  AT_TSALET_ALL_201811.csv
개수 확인2 :  (3040775, 15)
파일명 :  AT_TSALET_ALL_201810.csv
개수 확인2 :  (3560279, 15)
파일명 :  AT_TSALET_ALL_201903.csv
개수 확인2 :  (3188907, 15)
파일명 :  AT_TSALET_ALL_201904.csv
개수 확인2 :  (3433606, 15)

In [ ]:
df9=concat_read_file(file_list9)
# df9.to_csv("/content/drive/MyDrive/멀캠_장보고/농산물_가격예측_AI 경진대회/public_data/TOTAL_AT_TSALET9.csv")
df9.to_pickle("/content/drive/MyDrive/멀캠_장보고/농산물_가격예측_AI 경진대회/public_data/TOTAL_AT_TSALET9.pkl")

파일명 :  AT_TSALET_ALL_201909.csv
개수 확인1 :  (3263914, 15)
파일명 :  AT_TSALET_ALL_201906.csv
개수 확인2 :  (3702698, 15)
파일명 :  AT_TSALET_ALL_201905.csv
개수 확인2 :  (3579591, 15)
파일명 :  AT_TSALET_ALL_201908.csv
개수 확인2 :  (3968298, 15)
파일명 :  AT_TSALET_ALL_201912.csv
개수 확인2 :  (2917773, 15)

In [ ]:
len(file_list10)
size_len = int(len(file_list10)/3)
fi_list10=file_list10[:size_len]
fi_list11=file_list10[size_len:size_len*2]
fi_list12=file_list10[size_len*2:]


print(fi_list10, fi_list11, fi_list12)

['AT_TSALET_ALL_201907.csv', 'AT_TSALET_ALL_202001.csv', 'AT_TSALET_ALL_201911.csv', 'AT_TSALET_ALL_202002.csv'] ['AT_TSALET_ALL_202003.csv', 'AT_TSALET_ALL_201910.csv', 'AT_TSALET_ALL_202004.csv', 'AT_TSALET_ALL_202005.csv'] ['AT_TSALET_ALL_202006.csv', 'AT_TSALET_ALL_202008.csv', 'AT_TSALET_ALL_202007.csv', 'AT_TSALET_ALL_202009.csv']

In [ ]:
df10=concat_read_file(fi_list10)
# df10.to_csv("/content/drive/MyDrive/멀캠_장보고/농산물_가격예측_AI 경진대회/public_data/TOTAL_AT_TSALET10.csv")
df10.to_pickle("/content/drive/MyDrive/멀캠_장보고/농산물_가격예측_AI 경진대회/public_data/TOTAL_AT_TSALET10.pkl")

파일명 :  AT_TSALET_ALL_201907.csv
개수 확인1 :  (4150254, 15)
파일명 :  AT_TSALET_ALL_202001.csv
개수 확인2 :  (2811820, 15)
파일명 :  AT_TSALET_ALL_201911.csv
개수 확인2 :  (3130009, 15)
파일명 :  AT_TSALET_ALL_202002.csv
개수 확인2 :  (2751331, 15)

In [ ]:
df11=concat_read_file(fi_list11)
# df10.to_csv("/content/drive/MyDrive/멀캠_장보고/농산물_가격예측_AI 경진대회/public_data/TOTAL_AT_TSALET10.csv")
df11.to_pickle("/content/drive/MyDrive/멀캠_장보고/농산물_가격예측_AI 경진대회/public_data/TOTAL_AT_TSALET11.pkl")

파일명 :  AT_TSALET_ALL_202003.csv
개수 확인1 :  (3043218, 15)
파일명 :  AT_TSALET_ALL_201910.csv
개수 확인2 :  (3563256, 15)
파일명 :  AT_TSALET_ALL_202004.csv
개수 확인2 :  (3337937, 15)
파일명 :  AT_TSALET_ALL_202005.csv
개수 확인2 :  (3321593, 15)

In [ ]:
df12=concat_read_file(fi_list12)


# df10.to_csv("/content/drive/MyDrive/멀캠_장보고/농산물_가격예측_AI 경진대회/public_data/TOTAL_AT_TSALET10.csv")
df12.to_pickle("/content/drive/MyDrive/멀캠_장보고/농산물_가격예측_AI 경진대회/public_data/TOTAL_AT_TSALET12.pkl")

파일명 :  AT_TSALET_ALL_202006.csv
개수 확인1 :  (3475423, 15)
파일명 :  AT_TSALET_ALL_202008.csv
개수 확인2 :  (3434954, 15)
파일명 :  AT_TSALET_ALL_202007.csv
개수 확인2 :  (3710409, 15)
파일명 :  AT_TSALET_ALL_202009.csv
개수 확인2 :  (3453745, 15)

In [ ]:
# df.to_csv("/content/drive/MyDrive/멀캠_장보고/농산물_가격예측_AI 경진대회/Total_TEST_AT_TSALET_ALL.csv")

In [ ]:
df10.info()

            SALEDATE WHSAL_NM CMP_NM PUM_NM  ...   QTY     COST TOT_QTY   TOT_AMT
0           20190710   대구북부도매   대양청과     호박  ...  32.0   6000.0   320.0  192000.0
1           20190710   대구북부도매   대양청과     호박  ...  16.0   7000.0   160.0  112000.0
2           20190710   대구북부도매   대양청과     호박  ...  12.0   5500.0   120.0   66000.0
3           20190710   대구북부도매   대양청과     호박  ...   1.0   2000.0    10.0    2000.0
4           20190710   대구북부도매   대양청과     호박  ...  18.0   5500.0   180.0   99000.0
...              ...      ...    ...    ...  ...   ...      ...     ...       ...
40183944  2020-09-28   인천구월도매  인천농산물  얼갈이배추  ...  36.0   4500.0   144.0  162000.0
40183945  2020-09-28   인천구월도매  인천농산물  얼갈이배추  ...  36.0   4500.0   144.0  162000.0
40183946  2020-09-28   인천구월도매  인천농산물  얼갈이배추  ...  35.0   4500.0   140.0  157500.0
40183947  2020-09-28   인천구월도매  인천농산물    떫은감  ...   1.0   2000.0     4.5    2000.0
40183948  2020-09-28   서울강서도매   강서청과      무  ...  42.0  17000.0   840.0  714000.0

[40183949 rows x 15 columns]

In [ ]:
40183949 * 9

361655541

In [ ]:
(3억6천만)

In [ ]:
import pickle
import gzip

data = {
    'a': [1, 2.0, 3, 4+6j],
    'b': ("character string", b"byte string"),
    'c': {None, True, False}
}

# save and compress.
with gzip.open('testPickleFile.pickle', 'wb') as f:
    pickle.dump(data, f)

# load and uncompress.
with gzip.open('testPickleFile.pickle','rb') as f:
    data = pickle.load(f)

In [ ]:
tot_df = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10], ignore_index=True, axis=0)

# tot_df.to_pickle("/content/drive/MyDrive/멀캠_장보고/농산물_가격예측_AI 경진대회/public_data/TOTAL.pkl")

In [ ]:
tot_df.to_pickle("/content/drive/MyDrive/멀캠_장보고/농산물_가격예측_AI 경진대회/public_data/TOTAL.pkl")

In [ ]:
tot_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34086221 entries, 0 to 34086220
Data columns (total 15 columns):
 #   Column    Dtype
---  ------    -----
 0   SALEDATE  object
 1   WHSAL_NM  object
 2   CMP_NM    object
 3   PUM_NM    object
 4   KIND_NM   object
 5   DAN_NM    object
 6   POJ_NM    object
 7   SIZE_NM   object
 8   LV_NM     object
 9   SAN_NM    object
 10  DANQ      float64
 11  QTY       int64
 12  COST      float64
 13  TOT_QTY   float64
 14  TOT_AMT   int64
dtypes: float64(3), int64(2), object(10)
memory usage: 3.8+ GB